:host {
    display: block;
  }
  ::ng-deep {
    .mat-mdc-select-panel {
      background-color: #ffffff !important;
      @apply shadow-lg;
    }
    .mat-calendar {
      background-color: white !important;
      @apply shadow-lg rounded-lg;
    }
    .mdc-button {
      @apply bg-primary-100 hover:bg-primary-200;
    }
    .mat-mdc-raised-button.mat-primary {
      @apply bg-primary-600 hover:bg-primary-700;
    }
    .mat-mdc-fab.mat-primary {
      @apply bg-primary-600 hover:bg-primary-700 fixed bottom-6 right-6 z-50;
    }
    .mat-warn {
      @apply bg-red-100 hover:bg-red-200 text-red-700;
    }
  }

  .custom-add-button {
    border-radius: 15%; /* Ensures the button is circular */
  }
  
  .custom-icon {
    color: white; /* Sets the icon color to white */
  }